name: Update generated content

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

jobs:
  generate_gitpod:
    name: Generate gitpod.yml from devcontainers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          ref: main
      - name: Install Dev Tools
        working-directory: .bin/
        run: npm install
      - run: |
          node ./.bin/transform_devcontainer_to_gitpod.js
      - name: Commit new gitpods
        run: |
          git config --global user.name 'Github Action'
          git config --global user.email 'githubaction@users.noreply.github.com'
          set +e
          git add **/.gitpod.yml
          git commit -m "[meta] Update GITPOD Definitions"
          git pull origin --rebase main
          set -e
          git push

  generate_readme:
    needs: [generate_gitpod]
    name: Generate new README and commit to repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          ref: main
      - name: Install Dev Tools
        working-directory: .bin/
        run: npm install
      - name: Main README
        run: |
          node ./.bin/generate_README.js
      - name: Language READMes
        run: |
          node ./.bin/generate_language_READMEs.js
      - name: Commit new README
        run: |
          git config --global user.name 'Github Action'
          git config --global user.email 'githubaction@users.noreply.github.com'
          set +e
          git add README.md **/README.md
          git commit -m "[meta] Update README"
          git pull origin --rebase main
          set -e
          git push

  generate_language_branches:
    needs: [generate_readme]
    name: Force-push subtrees for all languages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          ref: main
      - name: Install Dev Tools
        working-directory: .bin/
        run: npm install
      - run: |
          ./.bin/update_and_force_push_language_branches.sh
          ./.bin/clean_old_branches.sh
